<div *ngIf="character" class="details">
  <div class="present">
    <img *ngIf="profession" [src]="profession.icon_big" />
    <span class="name">{{character.name}}</span>
    <span>Level {{character.level}} {{character.race}} {{ character.profession }}</span>
  </div>

  <div *ngIf="profession" class="specializations">
    <!-- [style.background-image]="getBackground(spec)" -->
    <div *ngFor="let spec of profession.specializations" class="specialization" [class.selected]="selectedSpecs[spec.id]">
      <h2 (click)="toggle(spec.name)"><img height="30" [src]="spec.icon" />{{spec.name}}</h2>
      <div class="spec-container" *ngIf="display[spec.name]">
        <img class="background" [src]="spec.background">
        <div class="trait-grid">
          <div *ngFor="let trait of spec.traits" class="trait" [class.minor]="trait.slot === 'Minor'" [class.selected]="characterSpecSelected(trait)">
            <img [src]="trait.icon" [alt]="trait.name" [title]="trait.name" />
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
