.equipment {
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;

  .slot {
    width: 48px;
    height: 48px;
    margin: 6px;
    background: radial-gradient(#6B4500, white);
    box-shadow: white 0 0 4px;
    border-radius: 10px;
    overflow: hidden;

    & > div {
      width: 48px;
      height: 48px;
    }

    img {
      display: block;
      width: 48px;
      height: 48px;
    }
  }

  .armor {
    float: left;
    margin-left: 10%;
  }

  .accessories {
    float: right;
    margin-right: 10%;
  }

  .weapons {
    clear: both;
    margin: 10px auto;
    width: 264px;


    .slot {
      display: inline-block;

      &:nth-child(3) {
        margin-left: 24px;
      }
    }
  }

  .aquatic, .tools {
    clear: both;
    margin: 10px auto;
    width: 180px;

    .slot {
      display: inline-block;
    }
  }

  .popover {
    position: absolute;
    padding: 10px;
    background-color: #333;
    box-shadow: white 0px 0px 20px;
    z-index: 2;
    color: white;

    .title {
      font-weight: bold;
    }
  }
}
